<% content_for :title, '邹小创的个人站点' %>

<div class="home">
<h1 class="page-heading">文章列表</h1>
  <div class="post-list">
    <% @posts.each do |post| %>
        <div class="post-list-item">
          <span class="post-meta"><%= post.created_at %></span>
          <h2>
            <%= link_to post.title, post, class: 'post-link' %>
          </h2>
          <div class="post-abstract">
            <%= markdown_to_text(post.content) %>
          </div>
        </div>
    <% end %>
  </div>
<br>

  <% if is_admin  %>
      <%= link_to 'New Post', new_post_path %>
  <% end %>

</div>