// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  margin-top: 3em;
}

.comments-divider {
  width: 100%;
  height: 2px;
  background: #eeeeee;
  margin-bottom: 2em;
  margin-top: 1em;
}

.post-abstract {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-height: 1.2em;        /* fallback */
  max-height: 6em;       /* fallback */
}

.comment-delete {
  font-size: 9pt;
}