<h1>About 邹小创</h1>
<p>一介码农</p>
<p>专注Android开发（至少目前为止），同时还是Ruby/Rails脑残粉</p>
<p>平时喜欢看点小书，不限种类，不过比较功利，不怎么看小说。</p>
<p>还会听点小流行音乐，觉得五月天虽然阿信唱功差人强意，不过他们的作品旋律跟歌词都很不错，MV更是很多都拍的很用心，不想很多艺人（尤其是女艺人），上去扭几下屁股，也算是MV？</p>
<p>还会看点小电影，是MARVEL脑残粉。不过还是觉得所有英雄电影里面，诺澜的《蝙蝠侠》三部曲是拍得最好的，尤其是第三部，当电影结束，银幕黑下来那一刻，感动的内牛满面啊，有木有！</p>
<p>嗯，这个网站完全是自己写的Rails App，之前用过Jekyll，感觉也不错，不过没那么可控性，所以就自己写了一个。</p>
<p>欢迎关注我的微博：
  <a href="http://weibo.com/happystriving">
    <img src="/images/weibo_16x16.png" alt="weibo" style="vertical-align: middle;margin-bottom: 3px">
    <span class="username">邹创</span>
    </a>
</p>
<p>或者follow我的github账号：
  <a href="http://github.com/ChrisZou">
    <img src="/images/github-icon.png" alt="github" style="width: 16px; height:16px;margin-bottom: 3px">
    <span class="username">ChrisZou</span>
  </a>
</p>
<p>或者给我发邮件：<a href="mailto:happystriving@126.com">happystriving@126.com</a> 请不要为我为什么不是Gmail。。。T_T。。。
</p>


